<nav>
    <div>
        <span>LOGO</span>
    </div>
    <div>
        <a href="/">Inicio</a>
        <a href="/about">Nosotros</a>
        <a href="/products">Productos</a>
        <a href="/contact">Contacto</a>
    </div>
</nav>