<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo con HBS</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    {{> navbar}}
    <main>
        <h1>Sobre Nosotros</h1>
        <p>Hola, {{usuario}}</p> 
    </main>

</body>
</html>